.endGameModal {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(226, 218, 218);
  padding: 10em;
  text-align: center;
}

.found2-container {
   display: flex;
   justify-content: center;
  }

 
.found2{
  padding: 5px;
  border: 3px solid green;
  border-radius: 10px;
  margin: 10px;
}

.found2 > img {
  height: 60px;
  opacity: 0.5;
}

.time {
   padding: 1em;
   border-bottom: 1px solid black;
   border-top: 1px solid black;
}


.inputContainer {
  display: grid;
  gap: 1em;
}

.inputContainer > input {
  height: 35px;
  padding: 5px;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  padding: 1em;
  gap: 1em;
}



#cancelBtn {
  background-color: black;
}