ul {
  background-color: rgb(226, 218, 218);
  padding: 0.5em;
  border-radius: 5px;
  opacity: 1;
}

li {
  list-style: none;
  padding: 0.2em;
}

button {
  width: 100%;
  height: 30px;
  background-color: rgb(187, 35, 35);
  color:white;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(238, 31, 31);
  cursor: pointer;
}
