#root {
  display: flex;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em;
  gap: 5em;
  background-color: rgb(226, 218, 218);
} 

section > div {
  display: grid;
  text-align: center;
}

section > div > img {
  height: 80px;
}

main {
  display: flex;
  align-items: center;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > div > img {
  width: 80%;
} 


main > div > img:hover {
  cursor: pointer;
} 


